name: .NET Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.8'  # 사용하고 있는 .NET 버전에 맞게 설정

    - name: Restore dependencies
      run: dotnet restore ./Github-Action-Test.sln

    - name: Run dotnet-format
      run: dotnet format ./Github-Action-Test.sln --verify-no-changes --verbosity diagnostic